@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .hotel
    &-slider
      &__img
        width: 100%
        height: 100%
        object-fit: cover   
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        // flex-basis: 100%
    &__politic
      margin-left: 320px
  
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
      max-width: 340px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      padding-right: 8px
      padding-left: 8px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 55px
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
  .hotel-right
    flex-direction: row
  .booking
    width: 340px
  .slider
    width: 100%
  .map
    width: 340px
  .newsletter
    padding: 92px 0 93px 0
  .reviews
    &-slider
      &__item
        max-width: 580px
    &-title
      margin-top: 30px
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
  .activities
    padding-top: 63px
    padding-bottom: 51px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    padding-top: 70px
    &__logo
      width: 94px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 45px
    &__input
      &-group
        flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
    &__politic
      margin: 0
      justify-content: space-between

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &__search
      margin-left: 0
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        overflow: scroll
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: #fff
      cursor: pointer
      border: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        flex-basis: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &-right
        flex-direction: column
        min-height: 465px
      &-slider
        height: 350px
    &-right
      flex-direction: column
  .booking
    margin-bottom: 30px
  .packages
    &-open
      min-height: 600px
    &__button
      min-width: 100px
      &-open
          min-width: 10
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-title
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding: 0 30px 36px
        &:after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -85px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -85px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &__info
      &-wrapper
        margin-bottom: 56px
@media (max-width: 576px)
  .container
    max-width: 280px
  .navbar
    &-menu
      &__item
        width: 245px
        text-align: center
        &--mobile
          &--visible
    &-top
      padding: 22px 0 30px 0  
  .logo
    width: 99px
  .breadcrumb
    &-list
      padding: 10px 0 5px 0
  .hotel
    padding-bottom: 36px
    &__slider
      margin-top: 17px
      margin-bottom: 20px
    &-slider
      height: 180px
  .booking
    padding: 28px 23px
    margin-bottom: 20px
  .map
    height: 173px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 42px
  .subscribe
    width: 100%
  .reviews
    &-slider
      // height: 50%
      &__text
        text-align: left
    &-title
      margin-bottom: 45px
  .activities
    padding-top: 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        display: flex
        flex-direction: column
        grid-row: 2 
        grid-column: 1
      &-links
        margin-top: 22px
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
      justify-self: start
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__button
      max-width: 160px
    &__info
      padding: 0
      margin-bottom: 15px
      order: -1
      &-wrapper 
        margin-bottom: 30px
        align-items: flex-start
        flex-direction: column
        flex-wrap: wrap
    &__politic
      flex-wrap: wrap
      &-wrapper
        margin-bottom: 10px
    &__input
      &-group
        flex-basis: 100%
      

